# BlueHR Enterprise Backend Environment Variables

PORT=5000
NODE_ENV=development

# JWT Secret Keys
JWT_SECRET=bluehr_super_secret_jwt_key_2026
JWT_REFRESH_SECRET=bluehr_super_secret_refresh_jwt_key_2026

# Gmail Nodemailer Configuration (Opsi A)
# Masukkan alamat email Gmail dan 16-digit App Password dari Google Account
GMAIL_USER=sulthonmf@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx

# Target Email Penerima Notifikasi Request Demo (Opsional, default sama dengan GMAIL_USER)
DEMO_NOTIFICATION_EMAIL=sulthonmf@gmail.com
